body {
    background-color: #f0f9ff;
    color: #082f49;
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: repeat(3, 100px);
    height: 100vh;
}

.sidebar,
.header,
.main-content {
    border: 1px solid black;
}

.header {
    grid-column: 2 / span 2;
    background-color: #0ea5e9;
    display: grid;
    grid-template-rows: 50px 50px;
    color: #f0f9ff
}

.half-header {
    display: flex;
    align-items: center;
}

.half-header>h3 {
    margin-right: 0px;
    font-size: 14px;
}

#mySearch {
    height: 1px;
    font-size: 16px;
    padding: 11px;
    border: 1px solid #ddd;
    background-color: #f0f9ff;
    border-radius: 10px;
}

.header-icon {
    width: 28px;
    margin: 0 10px 0 20%;
    cursor: pointer;
}

.sidebar {
    grid-column: 1;
    grid-row: 1 / span 3;
    background-color: #0284c7;
    color: #e0f2fe;
    height: 100vh;
}

.sidebar-heading {
    display: flex;
    font-size: 18px;
    align-items: center;
    cursor: pointer;
}

.dashboard-icon {
    width: 50px;
    height: 50px;
    padding: 10px;
}

.sidebar-items {
    display: grid;
    gap: 40px;
    grid-template-rows: repeat(9, 30px);
    margin-top: 30px;
}

.items {
    height: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 16px;
}

.sidebar-icon {
    width: 35px;
    margin: 0 30px 0 10px;
    cursor: pointer;
}

.items>h3 {
    cursor: pointer;
}

.main-content {
    grid-column: 2 / span 2;
    grid-row: 2 / span 2;
    height: calc(100vh - 100px);
}

.my-name {
    display: grid;
    grid-template-rows: 20px 30px;
    width: 50%;
    height: 100%;
}

.my-name-half>span {
    margin-left: 50px;
}

a{
    text-decoration: none;
}

.buttonClass {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-family: Arial;
    width: 100px;
    height: 35px;
    margin: 20px;
    border-width: 1px;
    color: #fff;
    border-color: rgba(2, 132, 199, 1);
    font-weight: bold;
    border-top-left-radius: 28px;
    border-top-right-radius: 28px;
    border-bottom-left-radius: 28px;
    border-bottom-right-radius: 28px;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 1);
    background: rgba(2, 132, 199, 1);
}

.buttonClass:hover {
    background: rgba(3, 105, 161, 1)
}
